

#results
ksnp/ksnp_output/*
parsnp_mac/parsnp_output/*
parsnp_linux/parsnp_output/*
ksnp/ksnp_output/*
ksnp/result_folder/*
stdout.txt
results/*


#parsnp without compile files
#compile files
parsnp/muscle/bin
parsnp/muscle/include
parsnp/muscle/lib
parsnp/muscle/config.log
parsnp/muscle/autom4te.cache
parsnp/muscle/config/compile
parsnp/muscle/INSTALL
parsnp/muscle/Makefile
parsnp/muscle/Makefile.in
parsnp/muscle/aclocal.m4
parsnp/muscle/config.status
parsnp/muscle/config/config.guess
parsnp/muscle/config/config.sub
parsnp/muscle/config/depcomp
parsnp/muscle/config/install-sh
parsnp/muscle/config/ltmain.sh
parsnp/muscle/config/missing
parsnp/muscle/libMUSCLE-3.7.pc
parsnp/muscle/libMUSCLE/Makefile
parsnp/muscle/libMUSCLE/Makefile.in
parsnp/muscle/libtool
parsnp/muscle/m4/libtool.m4
parsnp/muscle/m4/ltoptions.m4
parsnp/muscle/m4/ltsugar.m4
parsnp/muscle/m4/ltversion.m4
parsnp/muscle/m4/lt~obsolete.m4

parsnp/muscle/libMUSCLE/*.o
parsnp/muscle/libMUSCLE/*.lo
parsnp/muscle/libMUSCLE/.libs/
parsnp/muscle/libMUSCLE/.deps/
parsnp/muscle/libMUSCLE/.deps/
parsnp/muscle/libMUSCLE/libMUSCLE-3.7.la
parsnp/muscle/libMUSCLE/muscle
parsnp/muscle/configure


parsnp/Makefile
parsnp/Makefile.in
parsnp/aclocal.m4
parsnp/autom4te.cache/
parsnp/bin/parsnp
parsnp/compile
parsnp/config.status
parsnp/configure
parsnp/depcomp
parsnp/install-sh
parsnp/missing
parsnp/src/.deps/
parsnp/src
parsnp/src/Makefile
parsnp/src/Makefile.in
parsnp/src/parsnp
parsnp/src/parsnp-Converter.o
parsnp/src/parsnp-LCB.o
parsnp/src/parsnp-LCR.o
parsnp/src/parsnp-MuscleInterface.o
parsnp/src/parsnp-TMum.o
parsnp/src/parsnp-iniFile.o
parsnp/src/parsnp-parsnp.o

parsnp/ft
parsnp/harvest
parsnp/nucmer
parsnp/parsnp
parsnp/phiprofile
parsnp/show-coords